In [3]:
# 001
print('Hello world')

Hello world

In [4]:
# 002
print("Mary's cosmetics")

Mary's cosmetics

In [5]:
# 003
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [7]:
# 004
print('C:\Windows')

C:\Windows

In [12]:
# 005
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n : 줄나누기(엔터), \t : 띄어쓰기(탭), \t\t : 완전띄어쓰기(탭길게)
# `\t`는 탭을 의미하고 `\n'`은 줄바꿈을 의미합니다.

안녕하세요.
만나서		반갑습니다.

In [13]:
# 006
print ("오늘은", "일요일")  #예상 출력: 오늘은 일요일

오늘은 일요일

In [15]:
# 007 naver;kakao;sk;samsung
print('naver;kakao;sk;samsung')
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [16]:
# 008
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [19]:
# 009
print("first", end='');print("second")

firstsecond

In [25]:
# 010
5/3
print(5/3)

1.6666666666666667

In [30]:
# 011
samsungelec = 50000
totalcost = samsungelec * 10
print(totalcost)

500000

In [4]:
# 012
capital = 298000000000000
nowprice = 50000
per = 15.79
# print(capital, nowprice, per)
print(capital, type(capital))
print(nowprice, type(nowprice))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [6]:
# 013
str1 = 'hello!'
str2 = ' python'
print(str1 + str2)

hello! python

In [8]:
# 013 a
a = 'hello'
b = 'python'
print(a + '!', b)

hello! python

In [9]:
# 014 
2 + 2 * 3
# 8

8

In [12]:
# 015
a = 132
print (type(a))

<class 'int'>

In [14]:
# 016
num_str = "720"
print(int(num_str), type(int(num_str)))

720 <class 'int'>

In [17]:
# 016 a  : 720에서 형변환만 하고 숫자는 안바꾸는거 아닌가?
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [19]:
# 017 
num = 100
a = str(num)
print(a, type(a))

100 <class 'str'>

In [20]:
# 017 a
result = str(num)
print(result, type(result))

100 <class 'str'>

In [22]:
# 018
data = "15.79"
a = float(data)
print(a, type(a))

15.79 <class 'float'>

In [29]:
# 019
year = "2020"
lastyear = int(year)
print(lastyear, lastyear-1, lastyear-2)

2020 2019 2018

In [30]:
# 019 a
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [34]:
# 019 b
year = "2023"
recent = int(year)
print(recent-1, recent-2, recent-3)

2022 2021 2020

In [40]:
# 020
mprice = 48584
period = 36
equip = mprice * period
print(equip)
# 똑같은 개월수라서 36은 변수안줘도 되겠따

1749024

In [42]:
# 020 a
month = 48584
equip = month * 36
print(equip)

1749024

In [8]:
# 021
letters = 'python'
list(letters)
print(letters[0],letters[2])

p t

In [9]:
# 022
license_plate = "24가 2210"
len(license_plate)
print(license_plate

8