In [3]:
# 001
print('Hello world')

Hello world

In [4]:
# 002
print("Mary's cosmetics")

Mary's cosmetics

In [5]:
# 003
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [7]:
# 004
print('C:\Windows')

C:\Windows

In [12]:
# 005
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n : 줄나누기(엔터), \t : 띄어쓰기(탭), \t\t : 완전띄어쓰기(탭길게)
# `\t`는 탭을 의미하고 `\n'`은 줄바꿈을 의미합니다.

안녕하세요.
만나서		반갑습니다.

In [13]:
# 006
print ("오늘은", "일요일")  #예상 출력: 오늘은 일요일

오늘은 일요일

In [15]:
# 007 naver;kakao;sk;samsung
print('naver;kakao;sk;samsung')
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [16]:
# 008
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [19]:
# 009
print("first", end='');print("second")

firstsecond

In [25]:
# 010
5/3
print(5/3)

1.6666666666666667

In [30]:
# 011
samsungelec = 50000
totalcost = samsungelec * 10
print(totalcost)

500000

In [4]:
# 012
capital = 298000000000000
nowprice = 50000
per = 15.79
# print(capital, nowprice, per)
print(capital, type(capital))
print(nowprice, type(nowprice))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [6]:
# 013
str1 = 'hello!'
str2 = ' python'
print(str1 + str2)

hello! python

In [8]:
# 013 a
a = 'hello'
b = 'python'
print(a + '!', b)

hello! python

In [9]:
# 014 
2 + 2 * 3
# 8

8

In [12]:
# 015
a = 132
print (type(a))

<class 'int'>

In [14]:
# 016
num_str = "720"
print(int(num_str), type(int(num_str)))

720 <class 'int'>

In [17]:
# 016 a  : 720에서 형변환만 하고 숫자는 안바꾸는거 아닌가?
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [19]:
# 017 
num = 100
a = str(num)
print(a, type(a))

100 <class 'str'>

In [20]:
# 017 a
result = str(num)
print(result, type(result))

100 <class 'str'>

In [22]:
# 018
data = "15.79"
a = float(data)
print(a, type(a))

15.79 <class 'float'>

In [29]:
# 019
year = "2020"
lastyear = int(year)
print(lastyear, lastyear-1, lastyear-2)

2020 2019 2018

In [30]:
# 019 a
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [34]:
# 019 b
year = "2023"
recent = int(year)
print(recent-1, recent-2, recent-3)

2022 2021 2020

In [40]:
# 020
mprice = 48584
period = 36
equip = mprice * period
print(equip)
# 똑같은 개월수라서 36은 변수안줘도 되겠따

1749024

In [42]:
# 020 a
month = 48584
equip = month * 36
print(equip)

1749024

In [8]:
# 021
letters = 'python'
list(letters)
print(letters[0],letters[2])

p t

In [3]:
# 022
license_plate = "24가 2210"
len(license_plate)
print(license_plate[4:8])

2210

In [5]:
# 022 a
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [7]:
# 023
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [9]:
# 024
string = "PYTHON"
print(string[::-1])

NOHTYP

In [14]:
# 025
phone_number = "010-1111-2222"
new = phone_number.replace('-', ' ')
print(new)

010 1111 2222

문자열에서 replace 메서드를 사용하면 문자열 일부를 치환가능. 문자열은 수정할 수 없기때문에 기존 문자열은 그대로 두고 치환된 새로운 문자열이 리턴됨.

In [15]:
# 026
phone_number = "010-1111-2222"
new = phone_number.replace('-', '')
print(new)

01011112222

In [16]:
# 027
url = "http://sharebook.kr"
print(url[-2:])

kr

In [17]:
# 027 a
# 문자열로 표현된 url에서 `.`을 기준으로 분리하기. 마지막을 인덱싱하면 도메인만 출력가능.
url_split = url.split('.')
print(url_split[-1])

kr

In [18]:
# 028
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

문자열은 수정할 수 없다.

In [19]:
# 029
string = 'abcdfe2a354a32a'
newstr = string.replace('a', 'A')
print(newstr)

Abcdfe2A354A32A

In [20]:
# 029 a 문자열은 치환할수 없다면서 이건 외 되?
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [26]:
# 030 위에는 새로 값을 다시 정의해줘서? 이거는 그 값 자체를 바꾸려해서 치환안되는 특성 그대로 유지?
string = 'abcd'
string.replace('b', 'B')
print(string)  # 예상 aBcd
# replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.

abcd

In [28]:
# 031
a = "3"
b = "4"
print(a + b)  # 예상 3 4   띄우기조차도 없군아.

34

In [29]:
# 032
print("Hi" * 3) # 예상 HiHiHi

HiHiHi

In [30]:
# 033 화면에 '-'를 80개 출력하세요.
print('-' * 80)

--------------------------------------------------------------------------------

In [32]:
# 034
t1 = 'python'
t2 = 'java'
print((t1 + t2) * 4) 
# 실행 예 python java python java python java python java

pythonjavapythonjavapythonjavapythonjava

In [34]:
# 034
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [48]:
# 035
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
n1 = f'이름: {name1} 나이: {age1}'
n2 = f'이름: {name2} 나이: {age2}'
print(n1 + '\n' + n2)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [49]:
# 035 a
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
# print 포맷팅에서 `%s`는 문자열 데이터 타입의 값을 `%d`는 정수형 데이터 타입 값의 출력을 의미합니다.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [55]:
# 036 문자열의 format( ) 메서드 사용
"이름: {} 나이: {} 이름: {} 나이: {}".format('김민수', 10, '이철희', 13)

'이름: 김민수 나이: 10 이름: 이철희 나이: 13'

In [57]:
# 036 a  문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 `{ }`를 적어주면 됩니다.
print('이름 {} 나이: {}'.format(name1, age1))
print('이름 {} 나이: {}'.format(name2, age2))

이름 김민수 나이: 10
이름 이철희 나이: 13

In [58]:
# 037 f-string을 사용해서 035번 문제를 다시 풀어보세요.
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [68]:
# 038  노트북파일 5번 1.2.1 참고
listedshares = "5,969,782,550"
e = listedshares.replace(',', '')
change = int(e)
print(int(change), type(change))

5969782550 <class 'int'>

In [66]:
# 039
quar = "2020/03(E) (IFRS연결)"
print(quar[:7])

2020/03

In [1]:
# 040    노트북파일 5번 1.2.2 참고
data = "   삼성전자    "
data.strip()

'삼성전자'

In [2]:
# 041
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [5]:
# 041 a
ticker1 = ticker.upper()
print(ticker1)
# upper 메서드 호출하면 문자열을 대문자로 변경가능. 
# 이때 원본 문자열은 유지되고, 대문자로 변경된 새로운 문자열 객체가 반화됨.

BTC_KRW

In [12]:
# 042
ticker = "BTC_KRW"
ticker2 = ticker.lower()
print(ticker2, type(ticker2), ticker, type(ticker))

btc_krw <class 'str'> BTC_KRW <class 'str'>

In [13]:
# 043
m = 'hello'
m.capitalize()

'Hello'

In [17]:
# 044
file_name = "보고서.xlsx"
a = file_name.endswith('xlsx')
print(a)

True

In [19]:
# 044 a
file_name = "보고서.xlsx"
file_name.endswith('xlsx')
# 메서드는 프린트함수를 스지 않아도 출력이 되는건가보당

True

In [20]:
# 045 위랑 똑같은 문제인줄 알았는데 또는!이 있었다. 문제 꼼꼼하게 읽는 습관 들일것.
file_name = "보고서.xlsx"
file_name.endswith('xlsx' or 'xls')

True

In [23]:
# 045 a => 2개 이상은 튜플로 넣어주는것이군
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [ ]:
# 046